<header class="public-header">
  <%= render 'public/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar public-sidebar">
    <%= render 'public/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <h1 class="heading__en">Nomikai Detail</h1>
      <h3 class="heading__ja">ノミカイ詳細</h3>
    </div>
    <div class="content">
      <!-- 今日の飲み会 -->
      <div class="content__block--overview">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">ノミカイ名</th>
              <%# 下記event_path(@event)に変更する %>
              <td>2020年3課暑気払い</td>
            </tr>
            <tr>
              <th scope="row">日時</th>
              <td>7/10 &emsp; 18:00-21:00</td>
            </tr>
            <tr>
              <th scope="row">場所</th>
              <td>上海庭 九段下駅前店</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>東京メトロ東西線九段下駅徒歩５分</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>千代田区三番町0−0−0</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>https://github.com/twbs/bootstrap-rubygem</td>
            </tr>
            <tr>
                <th scope="row">会費</th>
                <td> 3000円</td>
                <td> 支払済</td>
              </tr>
            <tr>
              <th scope="row">幹事</th>
              <td>オーシャンティック航空 東自損３課 飯田恭子</td>
              <%# 下記room_path（ルームの相手ユーザーIDが幹事のidになるように変更要 %>
              <td><%= link_to room_path(1),class:"btn green-btn" do %>カンジに連絡する<% end %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- マップ -->
      <div class="content__block--map">
        <h2 class="block-hedding">お店のMap</h2>
        <div class="google-map">
          ここに地図
        </div>
      </div>
    </div>
  </div>
</main>
