<header class="admin-header">
  <%= render 'admin/logging_in_header' %>
</header>
<main class="row">
  <div class="sidebar admin-sidebar">
    <%= render 'admin/logging_in_slidebar' %>
  </div>  
  <div class="body">
    <div class="heading">
      <h1 class="heading__en">Notice</h1>
      <h3 class="heading__ja">通知一覧</h3>
    </div>
    <div class="content">
      <% if @notifications.exists? %>
        <%= render @notifications %>
        <div class="paginate-bar">
          <%= paginate @notifications %>
        </div>
      <% else %>
          新しい通知はありません
      <% end %>
    </div>
  </div>
</main>

        