@import "../colors";
// ボタン
.green-btn{
  background-color: $public-main !important;
  color:$white !important;
  &:hover{
    background-color: $light-gray !important;
    color:$public-main !important;
  }
}
.small-btn{
  font-size: 12px;
}
// 画像（丸型・小）
.small-image{
  width:80px;
  border-radius: 50%;
 }
 /* フォーム（ログイン、サインイン） */
 .input-form{
  line-height: 200%;
  width: 250px;
  border-radius: 10px;
}
.field,.actions{
margin-bottom: 3%;
}
/* Bootstrapアイコン */
.bi-house{
  fill:#eee;
}
.bi-house:hover{
  fill:#1b515c;
}
.nav-item{
  color:#fff;
  line-height: 3rem;
  display: block;
}
.nav-item:hover{
  color:#1b515c;
  text-decoration: none;
  background-color: #eee;
}
/* スライドバー */
.sidebar{
  background-color:#1b515c;
  text-align:center;
  padding:0;
  // height:125vh;
  width:25%;
}
.sidebar__nomijoy-logo{
  width:60%;
  margin-top:30%;
}
.sidebar__nav{
  margin-top:30%;
}
// ログイン後のスライドバー
.sidebar__go-to-otherside{
  margin-top: 40%;
  .go-to-otherside__letter{
    color:#fff;
  }
  .go-to-otherside__logo{
    width:40%;
  }
}
 /* ヘッダーは見えない状態 */
 .public-header{
  display:none;
}
/* ボディ */
.body{
  background-color:rgb(213, 230, 139);
  text-align:center;
  padding:5% 8% 5%;
  width:75%;
}
// ログイン・ログアウトページのボディのみ高さ指定
.body--logging-out{
  height:125vh;
}
/* ボディ：見出しに下線 */
.heading{
  border-bottom: 1px solid #1b515c;
  padding-bottom: 5%;
}
// ボディ：見出しの大きさ調整
.heading__en{
  font-size: 100px;
}
.heading__ja{
  font-size: 30px;
}
// ボディ：内容
.content{
  margin-top:10%;
}
// ボディ内ブロックの見出し
.block-hedding{
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  /* ボディ */
  .heading{
    padding-top: 10%;
  }
  .body{
    width:100%
  }
  .heading__en{
    font-size: 70px;
  }
  .heading__ja{
    font-size: 20px;
  }
  .input-form{
    line-height: 150%;
    border-radius: 8px;
  }
  /* 767px以下の場合、スライドバーを消す */
  .sidebar{
    display: none;
  }
  /* 767px以下の場合、スライドバーを消しヘッダーを表示 */
  .public-header{
    display:block;
  }
  .header-nav{
    background-color:#1b515c ;
    text-align: center;
    padding: 0 !important;
      &:hover{
        padding:0;
      }
  }
  /* ヘッダー：ロゴの大きさと位置 */
  .header-nav > a{
    width:30%;
    padding-top:1%;
    padding-bottom:1%;
  }
  .header-logo{
    width:30%;
  }
  /* ハンバーガの枠線をなくす */
  .navbar-light .navbar-toggler {
    border-color: #1b515c !important;
  }
  /* ハンバーガーの色（修正要：白に直す） */
  .navbar-light .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }
  // ログイン後のヘッダー
  .header-nav .go-to-otherside__logo{
    height:48px;
  }
}
