// Place all the styles related to the public/Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index(ログイン後トップ）
.heading__top-welcome{
  font-size: 40px;
}
.public-top-logo{
  width: 60%;
  margin-top: 1%;
}
.content__block--today{
  background-color: #eee;
  border-radius: 20px;
  padding: 5%;
  margin-top:5%;
  margin-bottom: 10%;
}
.content__block__unpaid{
  background-color: #eee;
  border-radius: 20px;
  padding: 5%;
  margin-top:5%;  
}
// 飲み会名を大きく表示
.content__block--today tr:first-child td{
  font-size: 150%;
  font-weight: bold;
}
// カレンダー

.simple-calendar {
  .day {
  }
  .wday-0 {
    color:rgb(177, 74, 74);
    background-color: rgb(233, 207, 207);
  }
  .wday-1 {
    background-color: #fff;
  }
  .wday-2 {
    background-color: #fff;
  }
  .wday-3 {
    background-color: #fff;
  }
  .wday-4 {
    background-color: #fff;
  }
  .wday-5 {
    background-color: #fff;
  }
  .wday-6 {
    color:rgb(82, 110, 189);
    background-color: rgb(178, 219, 235);
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
  }
  .next-month { }
  .current-month {}

  .has-events {}
}
.calendar-heading{
  font-size: 50px;
}
.calendar{
  &__time{
  font-size: 10px;
  }
  &__restaurant{
    font-size: 10px;
  }
  &__days td{
    height: 150px !important;
  }
}
.next-back{
  margin: 0 5%;
  font-size: 30px;
  &:hover{
    text-decoration: none;
  }
}
// .day_of_the_week{
  // background-color: #1b515c;
  // &:first-child{
  //   color: rgb(177, 74, 74) !important;
  // }
// }
 @media (max-width: 767px) {
  .heading__top-welcome{
  font-size: 20px;
  }
  // カレンダー
  .calendar-heading{
    font-size: 40px;
  }
  .calendar{
    &__time{
      font-size: 3px;
      margin-bottom: 5px;
    }
    &__restaurant{
      display: none;
    }
  }
  .event-link{
    font-size: 10px;
  }
}
// show
.content__block--overview{
  background-color: #eee;
  border-radius: 20px;
  padding: 5%;
  /* margin-top:5%; */
}
.content__block--overview tr:first-child td{
  font-size: 150%;
  font-weight: bold;
  /* background-color: cadetblue; */
}
.content__block--map{
  margin-top:10%;
}
// マップ
.google-map{
  display: flex;
  justify-content: center;
}
#map {
  height: 500px;
  width: 80%;
}
@media (max-width: 767px) {
  .mypage-image{
  width:50%;
}
.google-map{
  height: 300px;
  }
}