// Place all the styles related to the public/rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 一覧ページ
.content__block--dm-menbers table{
  font-size: 12px;
}
.dm-table {
  td{
    padding-top: 30px;
  }
  td:first-of-type{
    font-size: 20px;
  }
}

// 詳細ページ
.content__block--dm-form{
  display: flex;
  justify-content: flex-end;
}
.message{
  background-color:#dfdfdf;
  border-radius:8px;
  padding:20px;
  margin-bottom:30px;
  display: inline-block;
  }
  .other{
    &__message{
    width: 70%;
    margin-left: 10px;
    }
    &__image{
    display: inline-block;
    }
  }
.dm-show-heading{
  background-color:rgb(213, 230, 139);
}
.dm-small-image{
width:80px;
border-radius: 50%;
}
.dm-form{
  &__textarea{
    width: 50%;
    line-height: 200%;
    border-radius: 5px;
    border-color: #1b515c;
  }
  &__btn{
    height:40px;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
  }
}
.responsive-dm-image{
  width:30%;
  border-radius: 50%;
}
.heading__name{
  font-size: 40px;
}
@media (max-width: 767px) {
  .responsive-dm-image{
    width:30%;
    border-radius: 50%;
  }
  .heading{
    &__image{
      display: flex;
      justify-content: center;
    }
    &__name{
      font-size: 30px;
    }
  }
  .message{
  padding:10px;
  }
  .dm-content{
    font-size: 12px;
  }
  .dm-small-image{
    display: none;
  }
}

