// Place all the styles related to the public/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../colors";

// ログイン・サインアップページ
.sign-up-btn,.login-btn{
  margin-top:10%;
  /* margin-bottom:25%; */
  width:35%;
}
// マイページ
.mypage-follow-btn{
  margin-right: 5%;
}
.content__block--data td{
  font-family: "MPLUS-Regular", "Yu Gothic", "游ゴシック", sans-serif !important;
}

/* タブ２ */
// テーブルをレスポンシブで２つに分けている
.content__block__following,.content__block__followed,.content__block__search-users{
  margin-bottom: 10%;
}
.block-hedding{
  margin-bottom: 5%;
}
.content__block--menbers-responsive{
  display: none;
}
@media (max-width: 767px) {
  // ヘッダーと見出しが被らないようにする
  .heading--non-underline{
    margin-top: 10%;
  }
  .content__block--menbers{
    display: none;
  }
  .content__block--menbers-responsive{
    display: block;
  }
}
  


