<%# 検索フォーム(非同期) %>
<div class="members-search-form">  
  <div class="form-group col-4">   
    <label>ノミジョイ！ID</label>
  </div>
  <div class="form-group col-6">
    <%= form_with url: users_path, method: :get,remote: true, class: "search-form" do |f|  %>
      <%= f.text_field :word, class:"input-form-sm" %>
      <%= f.button type: "submit", class:"btn green-btn btn-sm"  do %><i class="fas fa-search public-search-btn"></i><% end %>
    <% end %>
  </div>
</div>
<table class="table members-table">
  <tbody>
    <tr>
      <th scope="row"><div class="result1"></div></th>
      <td style="width:25%"><div class="result2 nomal-font responsive-font-sm"></div></td>
      <td><div class="result3 nomal-font responsive-font-sm"></div></td>
      <td style="width:28%"><div class="result4"></div></td>
    </tr>
  </tbody>
</table>


