<div class="members-search-form">  
  <div class="form-group col-3">   
    <label>ノミジョイ！ID</label>
  </div>
  <div class="form-group col-6">
    <%= form_with url: users_path, method: :get,remote: true, class: "search-form" do |f|  %>
      <%= f.text_field :word, class:"input-form" %>
      <%= f.submit "Search", class:"btn small-btn green-btn"  %>
    <% end %>
  </div>
</div>

<div class="result"></div>
  <table class="table members-table">
    <tbody>
      <% find_users.each do |find_user| %>
        <tr class="">
          <%= render "public/searches/member_search_result", find_user: find_user %>
        </tr>
      <% end %>
    </tbody>
  </table>