<%# 検索フォーム(非同期) %>
<div class="members-search-form">  
  <div class="form-group col-3">   
    <label>ノミジョイ！ID</label>
  </div>
  <div class="form-group col-6">
    <%= form_with url: users_path, method: :get,remote: true, class: "search-form" do |f|  %>
      <%= f.text_field :word, class:"input-form-sm" %>
      <%= f.submit "Search", class:"btn btn-sm green-btn"  %>
    <% end %>
  </div>
</div>

<div class="result"></div>
  <table class="table members-table font-sm">
    <tbody>
      <tr>
        <th scope="row"><div class="result1"></div></th>
        <td><div class="result2"></div></td>
        <td><div class="result3"></div></td>
        <td><div class="result4"></div></td>
        <td><div class="result5"></div></td>
      </tr>
  </tbody>
</table>