<%# .appendは引数を追加するメソッド %>
$('.content__block--exchange').append(" <div class='self'><p class='message self__message nomal-font responsive-font-sm' style='text-align: right; color:#fff; background-color: #8cb4c4;'><%= @dm.message %></p></div>");
<%# valメソッドはコメント送信後のコメント入力フォームを空に %>
$('input[type=text]').val("");
$('div').removeClass('dm-no-content');

<%# 色をつける場合： color:#bc7395; %>