<%# 会員ごとの会費変更フォーム(非同期) %>
$(".event-users-fee_<%= @event_user.id %>").html("<%= j(render 'admin/event_users/event_users_fee', event_user: @event_user) %>");
$(".event-users-fee_<%= @event_user.id %>").append("<p class='alert-success font-sm-responsive'>更新しました</p>");


