<%# admin/event/show/タブ１（ノミカイのリマインド） %>
<div class="modal-background" id="modal-background-remind">
  <div class="modal-box">
    <div class="close-modal">
      <i class="fa fa-times"></i>
    </div>
    <%# ここ %>
  </div>
</div>
