<%# admin/event/show/タブ１（ノミカイのリマインド） %>
<div class="modal-background" id="modal-background-remind">
  <div class="modal-box">
    <div class="close-modal">
      <i class="fa fa-times"></i>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="modal-description remaind-modal-description">下記のようなリマインドメールおよび ノミジョイ！ 内の通知が<br>ノミカイ前日に参加者全員に自動で送信されます。</div>
        <p class="sm-tag"><i class="fas fa-envelope admin-icon"></i>&nbsp;メール</p>
        <%= image_tag("preview/auto_remind_mail.png", class: "sm-preview-img") %>
        <p class="sm-tag"><i class="fas fa-bell admin-icon"></i>&ensp;通知</p>
        <%= image_tag("preview/remind-notice.png", class: "sm-preview-img") %>
      </div>
      <div class="col-md-6 manual-remind">
        <div class="modal-description">
          別途手動で送信したい場合は&nbsp;<span class="btn btn-sm orange-btn-demo"><i class="fas fa-bell admin-icon"></i>&nbsp;<i class="fas fa-envelope admin-icon"></i>&ensp;全員にリマインドメール・通知を送る</span>&nbsp;を押すと、<br>下記のようなメールおよび ノミジョイ！ 内の通知が自動送信されます。<br><span class="text-muted responsive-font-sm">※ 進捗ステータスがリマインド済、終了済の場合は送信できません。</span>
        </div>
        <p class="sm-tag"><i class="fas fa-envelope admin-icon"></i>&nbsp;メール</p>
        <%= image_tag("preview/remind_mail.jpg", class: "sm-preview-img") %>
        <p class="sm-tag"><i class="fas fa-bell admin-icon"></i>&ensp;通知</p>
        <%= image_tag("preview/remind-notice.png", class: "sm-preview-img") %>
      </div> 
    </div>
  </div>
</div>
