$main:#d5e68b;
$public-main:#1b515c;
$admin-main:#267594;
$white:#fff;
$white-gray:#eee;
$light-gray:#dfdfdf;
$gray:#626a6d ;

// @mixin click-link{
//   &:visited{
//     color:$text;
//     }
//   &:hover{
//     color: $hover-text;
//     background-color:$back-black;
//     }
// }

// 少し薄いグレー（？マーク、grayのホバー）
// #9ca1a1
// 色
// 薄い黄色
// #e2eeaf
/* 紫 */
/* background-color: rgb(200, 142, 207); */
// 濃い緑
/* background-color:#153940; */
// 薄い緑
// color: #a6c2b8;
// 薄い緑（ホバー）
// #89a5aa
// 薄い水色
// color: #8cb4c4;
// 薄い水色（ホバー）
// background-color: #aac4cf;
// オレンジ
// #efa04c
// くすんだ赤
// rgb(177, 74, 74)
// アラート(danger)の文字色
// rgb(114, 31, 31)
// アラート(danger)の背景色
// #F8D7DA


