$main:rgb(213, 230, 139);
$public-main:#1b515c;
$admin-main:#267594;
$white:#fff;
$white-gray:#eee;
$light-gray:#dfdfdf;
$gray:#626a6d  ;

// @mixin click-link{
//   &:visited{
//     color:$text;
//     }
//   &:hover{
//     color: $hover-text;
//     background-color:$back-black;
//     }
// }

// 色
/* 紫 */
/* background-color: rgb(200, 142, 207); */
// 濃い緑
/* background-color:#153940; */
