// DMトークページ
@mixin message{
  background-color:#dfdfdf;
  border-radius:8px;
  padding:20px;
  margin-bottom:30px;
  display: inline-block;
}
// 【対応要】入力フォームとサイドバー固定
// .dm-sidebar{
  // position: fixed;
// }
// メッセージがない状態だと入力フォームが上に来てしまうため
.dm-content{
  margin-top: 20% !important;
}
.dm-no-content{
  // background-color: red;
  height:20vh;
}
.content__block{
  &--exchange{
    margin-bottom: 20%;
  }
  &--dm-form{
    display: flex;
    justify-content: flex-end;
    // padding:0 10% 5% 0;
    width: 70%;
    margin-left: 30%;
    background-color: rgb(213, 230, 139);
  }
}
.dm-show-heading{
  background-color:rgb(213, 230, 139);
}
.responsive-dm-image{
  width:150px;
  height:150px;
  border-radius: 50%;
}
.heading__name{
  font-size: 40px;
}
.self{
  width:40%;
  margin-left: 60%;
  &__message{
    @include  message;
    width: 80%;
  }
}
.other{
  width:60%;
  margin-right: 40%;
  &__message{
  @include  message;
  width: 60%;
  margin-left: 10px;
  }
  &__image{
  width:80px;
  height:80px;
  border-radius: 50%;
  }
}
.dm-form{
  &__textarea{
    width: 300px;
    line-height: 250%;
    border-radius: 5px;
  }
  &__btn{
    height:40px;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;
  }
}
.dm-btn{
  display: none !important;
}

@media (max-width: 767px) {
  .heading{
    &__image{
      display: flex;
      justify-content: center;
    }
    &__name{
      font-size: 30px;
    }
  }
  .responsive-dm-image{
    width:150px;
    height:150px;
    border-radius: 50%;
  }
  .dm-show-heading{
    padding-top: 15%;
  }
  .dm-content{
    font-size: 12px;
  }
  .content__block{
    &--exchange{
      margin-bottom: 30%;
    }
    &--dm-form{
      width: 100%;
      margin-left: 0;
    }
  }
  .other{
    &__image{
      display: none;
    }
  }
  .dm-btn{
    display: inline-block !important;
  }
  .dm-form{
    &__textarea{
      width: 200px;
    }
  }
}