// モーダルを表示するボタン
.modal-btn{
  font-size: 1.25rem;
  margin-left: 15px;
  .fa-question-circle{
    color:#626a6d !important;
    &:hover{
      color: #9ca1a1 !important;
    }
  }
}
.sm-modal-btn{
  margin-left: 15px;
  .fa-question-circle{
    color:#626a6d !important;
    &:hover{
      color: #9ca1a1 !important;
    }
  }
}
// ===========================================
// モーダル表示
.modal-background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  text-align: center;
  display: none;
}
.modal-box{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  background-color: #dfdfdf;
  border-radius: 4px;
  width: 600px;
  padding:30px;
  // スクロール
  height:80%;
  overflow-y:scroll;
}
.preview-img{
  width:80%;
}
.tag{
  width:80%;
  color:#fff !important;
  background-color: #267594;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}
.remaind-modal-description {
  height:130px;
}
@media (max-width: 767px) {
  .modal-box{
    top: 54%;
    width: 390px;
  }
  .modal-description {
    font-size: 18px;
    margin-bottom: 0 !important;
  }
  .preview-img{
    width:58%;
  }
  .tag{
    width:58%;
    font-size: 18px;
  }
  .modal-description {
    height:auto;
  }
}
@media (max-width: 480px) {
  .modal-box{
    width: 300px;
    padding:15px;
  }
  .modal-description {
    font-size: 14px;
  }
  .preview-img{
    width:50%;
  }
  .tag{
    width:50%;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}
.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #9ca1a1;
  cursor: pointer;
}
.close-modal{
  margin-bottom: 30px;
}
// ===========================================
// レスポンシブ時、？ボタンを右端に表示するため
.modal-btn-responsive-right{
  text-align:right ;
}
//  ===========================================
// リマインドメール
// リマインドメールボタン
.remind-mail p{
  margin-top: 10px;
}
// 画像
.sm-preview-img{
  width:65%;
}
.sm-tag{
  width:65%;
  color:#fff !important;
  background-color: #267594;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
}
// preview-imgと同じ
@media (max-width: 767px) {
  .sm-preview-img{
    width:58%;
  }
  .sm-tag{
    width:58%;
  }
  .manual-remind{
    margin-top: 80px;
  }
}
// preview-imgと同じ
@media (max-width: 480px) {
  .sm-preview-img{
    width:50%;
  }
  .sm-tag{
    width:50%;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}



