<% if unchecked_notifications.any? %>
  <span class="fa-stack" >
    <i class="far fa-bell fa-lg fa-stack-2x public-icon" style="font-size: 1.5em; color:#fff;" ></i><i class="fas fa-circle n-circle fa-stack-1x"></i>
  </span>Notice
<% else%>
  <i class="far fa-bell fa-lg public-icon" style="font-size: 1.5em;"  ></i>&ensp;Notice
<% end %>
