<%# ユーザー編集ページにて使用。サインインページはsharedのエラーメッセージ使用、その他はフラッシュメッセージ %>
<%# 下記をビューに挿入 %>
<%#= render 'layouts/error_messages', model: f.object %>

<% if model.errors.any? %>
    <%# alert-warningが黄色背景のBootstrap %>
  <div class="error_explanation alert-warning" style="background-color:#F8D7DA; padding:5px; margin-bottom:10px; border-radius:10px">
    <%# <h2 class="error-prohibited"> %>
      <%#= pluralize(model.errors.count, "error") %> 
      <%# prohibited this user from being saved: %>
    <%# </h2> %>
    <div class="alert" style="margin-bottom:0;">
      <ul style="list-style: none;">
        <% model.errors.full_messages.each do |message| %>
          <li style="color:rgb(114, 31, 31) !important;"><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


