<div class="d-flex justify-content-center mt-5 footer">
  <p class="mb-0">Copyright(c)  2020 Nomi-Joy! Co.,Ltd</p>&emsp;
  <%= link_to "https://api.gnavi.co.jp/api/scope/", target: :_blank do %>
    <%= image_tag("https://api.gnavi.co.jp/api/img/credit/api_155_20.gif") %>
  <% end %>
</div>